* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.body {
    margin-top: 75px;
}
.body img {
    width: 400px; 
    height: 400px; 
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
nav {
    position: fixed;
    background: #781727;
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    transition: opacity 0.5s ease;
}
nav.hidden {
    opacity: 0;
    pointer-events: none;
}
label.logo {
    color: #ac5b67;
    font-size: 35px;
    line-height: 80px;
    padding: 0 50px;
    font-weight: bold;
}
nav ul {
    float: right;
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a {
    color: #ac5b67;
    font-size: 12px;
    padding: 7px 13px;
    border-radius: 18px;
    text-transform: uppercase;
}
.bio {
    margin-left: auto;
    margin-right: 0;
    padding: 50px; 
    border: 2px solid rgba(229, 253, 194, 0.9); 
    background-color: #bdcebe; 
    
    border-radius: 10px; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); 
    width: 80%; 
    max-width: 600px; 
}
.bio:hover {
    transform: scale(1.02);
    transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background-color: #eca1a6;
    box-shadow: 0px 0px 10px rgba(158, 139, 183, 0.8);
}
a.active,
a:hover {
    background: #e2b3c2;
    transition: 0.5s;
}
.checkbutton {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}
@media (max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }
}
nav ul li a {
    font-size: 12px;
}
@media (max-width: 913px) {
    .checkbutton {
        display: block;
    }
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #bdcebe;
        top: 80px;
        left: -100;
        text-align: center;
        transition: all 0.5s ease;
    }
    nav ul.fade-in {
        opacity: 1;
        pointer-events: auto;
        left: 0%;
    }
    nav ul.fade-out {
        opacity: 0;
        pointer-events: none;
        left: -100%;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 12;
        transition: background-color 0.5s ease;
    }
    a:hover,
    a.active {
        background: none !important;
        color: #eca1a6 !important;
    }
    #check:checked ~ ul.fade-in {
        left: 0;
    }
    #check:checked ~ ul.fade-out {
        left: -100%;
    }
    #check:not(:checked) ~ ul {
        display: none;
        transition: 0.5s ease-in-out;
    }
}
.navbar {
    position: fixed;
    z-index: 1000;
}
